/* #red{ *
    color: red;
}  
#blue{
    color: blue;
}
#green{
    color: green;
}

.color-title{
    font-weight: normal;
}
img{
    height: 200px;
    width: 200px;
/* } */

/* *{background-color: antiquewhite;} *
#red{
    color: aqua;
    background-color: rgb(151, 167, 161);
}
*h2{
    color: blue;
    background-color: yellowgreen;
/* } */

*{
    background-color: slateblue;
}
#black{
    color: azure;
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}